.span{
    border-color: blue;
    border-width: 200px;
    border-style: solid;
   margin-bottom: 300px;
}
.spa{
    border-color: aqua;
    border-width: 200px;
    border-style: solid;
    margin-top: 100px;
}